.u-section-1 {
  background-image: url("images/0df97451d569d5c41973fd59438976b0fcfd3e1469490fa91966fbdc127adfff8b90da579f31caaae00e370a133aa0502707f4e8921f260b9fcf42_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 273px;
}

.u-section-1 .u-text-1 {
  font-family: Acme;
  width: 190px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px auto 6px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 188px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-social-icons-1 {
  min-height: 16px;
  width: 614px;
  min-width: 296px;
  white-space: nowrap;
  height: 69px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(92, 107, 192) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(168, 145, 140) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(217, 217, 217) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-text-1 {
    width: 585px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 155px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(219, 83, 75) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(38, 166, 209) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(17, 17, 17) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-text-1 {
    width: 385px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: -37px;
    margin-right: -37px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1 .u-text-1 {
    width: 203px;
    margin-top: 12px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 71px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 358px;
    height: 26px;
    margin-left: -9px;
    margin-right: -9px;
  }
}.u-section-2 {
  background-image: url("images/a749b5df6922b2d91440b6c4547162b1b4b459c7c80be8a20f7bc2c7c9f7a7eb769a3a4e9d0b1cbb3b057d0697aa867fa561dc21c298230baa09df_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 358px;
}

.u-section-2 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 318px;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 107px;
  }
}