.u-section-1 {
  background-image: url("images/a8eb59f73cb878d3e1cec01cc7e1dd0fd87bb03ba032eb4ca7a3e41f252095f527d924fdae1af000ba16d26a99a9f56e0e490907d3a2fb4bdf16cb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 80px;
}

.u-section-1 .u-text-1 {
  font-family: Acme;
  text-decoration: underline !important;
  margin: 21px 480px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 66px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 380px;
    margin-right: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 270px;
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 180px;
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 24px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 80px;
    margin-right: 80px;
  }
}.u-section-2 {
  background-image: url("images/b3e8e013702d6759a3c22f488c58ff27fa1f07db820de24930e301668a88cf54f2b36be09f0a85691c356be1eaa2d93031a30bd8bf65e171a79dce_12801.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-list-1 {
  width: 382px;
  grid-template-rows: auto;
  margin: 20px auto 10px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 634px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 28px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  width: 320px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px 20px 0 2px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin: 30px auto 0 2px;
}

.u-section-2 .u-text-2 {
  margin: -10px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-right: -222px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: -221px;
    margin-left: 30px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -24px;
    margin-right: -233px;
    margin-left: 18px;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
    font-family: Acme;
    margin-top: 25px;
    margin-right: -252px;
    padding: 9px 156px 11px 155px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 375px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -155px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -179px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: -20px;
    margin-right: -20px;
  }
}.u-section-3 {
  background-image: url("images/92732d14fc6920ca53024a84d01931f06669e2839634fcf69d317deb49042eca2594c4ea31dd2bb6385cc7f34e122e6f506448991eaa71074d050c_12801.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 133px;
}

.u-section-3 .u-text-1 {
  font-family: Acme;
  font-size: 3rem;
  margin: 38px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}