.u-section-1 {
  background-image: url("images/theearth4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  font-family: Audiowide;
  font-weight: 700;
  width: 866px;
  margin: 645px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 51.54% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin: 322px 0 30px;
  }
}.u-section-2 {
  background-image: url("images/abstract-3d-pink-and-blue-gradient-circles-shapes-vector-299542833.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 326px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 17px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  font-family: Acme;
  margin: 12px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 45px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.35);
  margin: 12px auto 30px;
  padding: 19px 51px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }
}.u-section-3 {
  background-image: url("images/049d64ee9a3cd117f1e99833ea9455e9cf2dd41550c0b287d195f52c4e5e3fa7940187c57d6448ad6e4cc58a22c19eaaba63f29d556c8a55a710d3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 798px;
}

.u-section-3 .u-text-1 {
  font-family: Acme;
  margin: 10px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 525px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  margin: 30px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-family: Acme;
  font-size: 1rem;
  margin: 50px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 746px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2511px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: repeat(1, auto);
    height: 2238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1409px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 218px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  width: 475px;
  margin: 27px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 49px;
  min-height: 16px;
  width: 198px;
  min-width: 132px;
  margin: 27px auto 60px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(5, 204, 71) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 65px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: url("images/a749b5df6922b2d91440b6c4547162b1b4b459c7c80be8a20f7bc2c7c9f7a7eb769a3a4e9d0b1cbb3b057d0697aa867fa561dc21c298230baa09df_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 492px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  width: 565px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-5 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-5 .u-icon-1 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 127px;
  background-image: none;
  margin-right: 0;
  margin-left: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-5 .u-icon-2 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 127px;
  background-image: none;
  margin-right: 0;
  margin-left: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px 0;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-5 .u-icon-3 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 127px;
  background-image: none;
  margin-right: 0;
  margin-left: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px 0;
}

.u-section-5 .u-text-5 {
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-5 .u-icon-4 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 127px;
  background-image: none;
  margin-right: 0;
  margin-left: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-5 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(0, 0, 0);
  }

  .u-section-5 .u-accordion-pane-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}